@import url('https://fonts.googleapis.com/css2?family=Anton&family=Overpass:ital,wght@0,400;1,300&display=swap');
@import "../node_modules/bootstrap/scss/functions";

$headings-font-family: "Anton";
$table-cell-vertical-align: middle;
$dark: #000000;
$light: #ffffff;
$table-color: $light;
$enable-rounded: false;
$btn-border-width: 3px;
$btn-font-family: $headings-font-family;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap-utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/transitions";

html, body {
  @extend .h-100, .w-100;
  --bs-body-font-family: "Overpass";
  font-size: 18px;
  font-weight: 300;
}

@for $i from 1 through 6 {
  h#{$i}, th {
    text-transform: uppercase;
    letter-spacing: -0.5px
  }
}

.dark {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}

.light {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}

.btn {
  text-transform: uppercase;
}

a[type='button'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn.btn-xl, .btn.btn-l {
  width: auto;
  min-width: 300px;
}

.btn.btn-xl {
  $btn-xl-underline-offset: 7px;
  font-size: 40px;
  text-decoration: underline;
  text-underline-offset: $btn-xl-underline-offset;
  padding-bottom: calc(#{$btn-padding-y} + #{$btn-xl-underline-offset});
}

div.contentGrid {
  @extend .d-flex, .flex-column, .w-100, .h-100, .align-items-center, .justify-content-start;
}

div.contentGrid > section:not(.cover-section, .map-section) {
  @extend .py-5, .px-3, .d-flex, .w-100, .justify-content-center, .dark;
}

section.cover-section {
  @extend .dark;
  background-image: url("../public/img/cover.jpg");
  min-height: 690px;
  background-position: top center;
  background-size: cover;
  filter: grayscale(1) contrast(1.25);
  display: flex; //IMPORTANT - lets children grow to 100% of height
  flex-direction: column; //IMPORTANT - lets children grow to 100% of height
}

@media (max-width: 600px) and (orientation: portrait) {

  section.cover-section {
    background-image: url("../public/img/cover-sm.jpg");
    min-height: 500px;
  }
}

section.map-section {
  @extend .bg-dark;
  width: 100%;
  height: 600px;
  min-height: 600px;
}

div#mapDiv {
  width: 100%;
  height: 100%;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  @extend .p-1;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib, .mapboxgl-ctrl.mapboxgl-ctrl-attrib * {
  background: none !important;
  color: #ffffff !important;
  font-family: var(--bs-body-font-family) !important;
  font-weight: 300 !important;
}

p.cover-title {
  @extend .h1;
  font-size: 120pt;
  align-self: end;
}

table {
  text-align: center;
}

thead {
  @extend .light;
}

div.contentGrid > section {
  //normal is dark
  .btn {
    @extend .btn-outline-light
  }
}

div.contentGrid > section:nth-of-type(2n+3) {
  //after initial sections, alternate with light background and dark components
  @extend .light;

  table, thead, tbody, tr, td {
    border-color: $dark;
  }

  thead {
    @extend .dark;
  }

  td {
    color: $dark;
  }

  .btn {
    @extend .btn-outline-dark
  }

}

div.contentGrid > section:not(.map-section) > div:not(.cover-container) {
  @extend .px-3;
  max-width: 960px;
}


table > thead > tr > th, table.table-ranking > tbody > tr > td:nth-of-type(1) {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

table > thead > tr > th {
  font-size: 20px;
}

table, thead, tbody, tr, td {
  border: 2px solid #ffffff;
  border-collapse: collapse;
}

td {
  padding-top: calc(#{$table-cell-padding-y} + 5px) !important;
}

table.table-ranking > tbody > tr > td:nth-of-type(1) {
  border-right: none;
  font-size: initial;
  padding-top: $table-cell-padding-y !important;
}

table.table-ranking > tbody > tr > td:nth-of-type(2) {
  border-left: none;
}

.f-stat {
  font-size: 5rem;
}

div.progressMarker {
  color: #ffffff;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg.icon {
  width: 100%;
  height: 100%;
}

p.markerText {
  font-family: $headings-font-family;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}


img.img-circle{
  @extend .p-1;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #000000;
  background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 496 512' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
}

div.peopleWrap:nth-of-type(2n) > div.peopleContainer{
  @extend .flex-sm-row-reverse;
  > p {
    @extend .text-sm-end
  }
}

ul.footerList{
  @extend .p-2;
  list-style: none;
  text-align: center;
}

ul.footerList >li > a{
  @extend .py-2;
  color: $light;
  text-decoration: none;
  text-transform: uppercase;
}
