@import "fonts/fonts.css";
@import "../node_modules/bootstrap/scss/functions";

$headings-font-family: "Anton";
$table-cell-vertical-align: middle;
$dark: #000000;
$light: #ffffff;
$table-color: $light;
$enable-rounded: false;
$btn-border-width: 3px;
$btn-font-family: $headings-font-family;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap-utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/modal";

@mixin mask {
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  pointer-events: auto;
}

@mixin mask-path($iconFileName) {
  -webkit-mask-image: url("../public/img/icons/#{$iconFileName}.svg");
  mask-image: url("../public/img/icons/#{$iconFileName}.svg");
}

body {
  overflow-x: hidden;
}

html, body {
  @extend .h-100, .w-100;
  font-size: 18px;
  font-weight: 300;
  --bs-body-font-family: "Overpass";
}

@for $i from 1 through 6 {
  h#{$i}, th {
    text-transform: uppercase;
    letter-spacing: -0.5px
  }
}

a {
  color: inherit !important;
}

.dark {
  border-color: #000000;
  background-color: #000000;
  color: #ffffff;
}

.light {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #000000;
}

.btn {
  text-transform: uppercase;
}

a[type='button'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.btn.btn-xl, .btn.btn-l {
  width: auto;
  min-width: 300px;
}

.btn.btn-xl {
  $btn-xl-underline-offset: 7px;
  padding-bottom: calc(#{$btn-padding-y} + #{$btn-xl-underline-offset});
  text-decoration: underline;
  font-size: 40px;
  text-underline-offset: $btn-xl-underline-offset;
}

div.contentGrid {
  @extend .d-flex, .flex-column, .w-100, .h-100, .align-items-center, .justify-content-start;
}

div.contentGrid > section:not(.cover-section, .map-section) {
  @extend .py-5, .px-3, .d-flex, .w-100, .justify-content-center, .dark;
}

section.cover-section {
  @extend .dark;
  display: flex; //IMPORTANT - lets children grow to 100% of height
  flex-direction: column; //IMPORTANT - lets children grow to 100% of height
}

section.cover-section > picture, section.cover-section > picture > source, section.cover-section > picture > img {
  width: 100%;
  height: auto;
}

sup > a {
  text-decoration: none;
}

sup.display-1-sup {
  top: -1.25em;
  font-size: 0.5em;
}

@media (max-width: 600px) and (orientation: portrait) {

  section.cover-section {
    min-height: 500px;
  }
}

section.map-section {
  @extend .bg-dark;
  width: 100%;
  height: 600px;
  min-height: 600px;
}

div#mapDiv {
  width: 100%;
  height: 100%;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  @extend .p-1;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib, .mapboxgl-ctrl.mapboxgl-ctrl-attrib * {
  background: none !important;
  color: #ffffff !important;
  font-family: var(--bs-body-font-family) !important;
  font-weight: 300 !important;
}

button.btn-map-replay, button.btn-map-zoom {
  position: absolute;
  bottom: 10px;
  transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
  opacity: 1;
  background-color: $dark;
  background-position: center;
  background-size: 50px 50px;
  padding: 0;
  width: 56px;
  height: 56px;

  > span {
    @include mask;
    display: inline-block;
    transition: background-color 0.4s ease-out;
    background-color: $light;
    width: 100%;
    height: 100%;
  }

  &:hover > span {
    background-color: $dark;
  }
}

button.btn-map-replay {
  right: 10px;

  > span {
    @include mask-path("replay")
  }
;
}

button.btn-map-zoom {
  right: 76px;

  &.btn-map-zoom-icon-0 > span {
    @include mask-path("zoom_in_map");
  }

  &.btn-map-zoom-icon-1 > span {
    @include mask-path("recenter");
  }

  &.btn-map-zoom-icon-2 > span {
    @include mask-path("zoom_out_map");
  }
}

button.btn-map-replay.hidden {
  visibility: hidden;
  opacity: 0;
}

p.cover-title {
  @extend .h1;
  align-self: end;
  font-size: 120pt;
}

table {
  text-align: center;
}

thead {
  @extend .light;
}

div.contentGrid > section {
  //normal is dark
  .btn {
    @extend .btn-outline-light;
  }

  .btn:hover, .btn:focus, .btn:focus-within, .btn:active {
    @extend .text-dark;
    color: $dark !important;
  }
}

.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:focus-within, .btn-outline-light:active {
  @extend .text-dark;
  color: $dark !important;
}

div.contentGrid > section:nth-of-type(2n+4) {
  //after initial sections, alternate with light background and dark components
  @extend .light;

  table, thead, tbody, tr, td {
    border-color: $dark;
  }

  thead {
    @extend .dark;
  }

  td {
    color: $dark;
  }

  .btn {
    @extend .btn-outline-dark;
  }

  .btn:hover, .btn:focus, .btn:focus-within, .btn:active {
    @extend .text-light;
    color: $light !important;
  }

}

div.contentGrid > section:not(.map-section) > div:not(.cover-container) {
  @extend .px-3;
  max-width: 960px;
}


table > thead > tr > th, table.table-ranking > tbody > tr > td:nth-of-type(1) {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

table > thead > tr > th {
  font-size: 20px;
}

table, thead, tbody, tr, td {
  border: 2px solid #ffffff;
  border-collapse: collapse;
}

td {
  padding-top: calc(#{$table-cell-padding-y} + 5px) !important;
}

table.table-ranking > tbody > tr > td:nth-of-type(1) {
  border-right: none;
  padding-top: $table-cell-padding-y !important;
  font-size: initial;
}

table.table-ranking > tbody > tr > td:nth-of-type(2) {
  border-left: none;
}

.f-stat {
  font-size: 5rem;
}

div.progress-marker {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s ease-out;
  cursor: default;
  min-width: 50px;
  height: auto;
  min-height: 50px;
  color: #ffffff;
  pointer-events: none;

  &.rightToLeft > div.map-progress-marker-container {
    transform: scaleX(-1);
  }

  &:has(~ div.progress-marker div.map-progress-marker-icon:hover),
  &:has(div.map-progress-marker-icon:hover) ~ div.progress-marker,
  &:has(~ div.progress-marker .progress-marker-text:hover),
  &:has(> .progress-marker-text:hover) ~ div.progress-marker {
    opacity: 0.2;
  }

  > .map-progress-marker-container {
    display: grid;
    grid-template: "container";
    place-content: center;
    place-items: center;

    > .map-progress-marker-icon {
      @include mask;
      grid-area: container;
      transition: opacity 0.25s ease-out;
      width: 50px;
      height: 50px;
      pointer-events: auto;

      $icons: ("run", "walk", "swim", "hike", "row", "cycle");

      @each $icon in $icons {
        &.map-progress-marker-icon-#{$icon} {
          @include mask-path($icon);
        }
      }

      &:nth-child(2) {
        //swim icon
        opacity: 0;
      }
    }
  }

  &.map-progress-marker-over-channel {
    > .map-progress-marker-container {
      > .map-progress-marker-icon {
        //hide land icon
        &:nth-child(1) {
          opacity: 0;
        }

        //show swim icon
        &:nth-child(2) {
          opacity: 1;
        }
      }
    }
  }
}

p.progress-marker-text {
  position: relative;
  top: 24px;
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-family: $headings-font-family;
  font-size: 20px;
  pointer-events: auto;

  &.progress-marker-text-team-name {
    white-space: nowrap;
    font-size: 22px;
  }

  &.progress-marker-text-progress {
    width: min-content;
    font-size: 18px;
  }
}


div.img-circle-wrap, img.img-circle {
  border-radius: 50%;
}

div.img-circle-wrap {
  border: 3px solid #000000;
  background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 496 512' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

img.img-circle {
  border: 3px solid #ffffff;
  width: 100%;
  height: 100%;
}

team-bio:nth-of-type(2n) > div.peopleWrap > div.peopleContainer {
  @extend .flex-sm-row-reverse;

  > p {
    @extend .text-sm-end
  }
}

ul.footerList {
  @extend .p-2;
  list-style: none;
  text-align: center;
}

ul.footerList > li > a {
  @extend .py-2;
  text-transform: uppercase;
  text-decoration: none;
  color: $light;
}
